.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tb{
  background-color: #148b5a;
}
.pm{
  width: 350px;
}
.lm{
  background-color: #36d191;
  width: 30%;
  display: inline-block
}
.mp{
  display: inline-block;
}
.des{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightblue;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 20px
  /* justify-content: center */
}
.lol{
  display: flex;
  flex-direction: row;

}
.meme{
  margin-left:30px
}
.kool{
  padding: 20px
}
